body {
  height: 100svh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: kanit;
  background-color: rgb(15 17 18);
  color: white;
}

#app_name,
#uname {
  color: rgb(110 196 250);
}

#bell,
#options,
#back {
  margin-top: 4px;
  height: 30px;
  width: 30px;
}

#bell img,
#options img,
#back img {
  filter: invert(100%);
  height: 70%;
  width: 70%;
  z-index: 10;
}

header {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  margin: 10px 16px;
}

#story {
  height: 16vh;
  width: 92%;
  margin: auto;
  background-color: rgb(32 36 39);
  border-radius: 16px;
}

#content {
  height: auto;
}

.post {
  height: 200px;
  width: 92%;
  border-radius: 16px;
  background-color: rgb(32 36 39);
  margin: 10px auto;
}

#bottomNav {
  width: 87%;
  height: 12vh;
  background-color: rgb(32 36 39);
  position: fixed;
  bottom: 20px;
  border-radius: 16px;
  left: 7.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px -12px 20px 4px rgba(0, 0, 0, 0.2),
    0px 12px 20px 8px rgba(0, 0, 0, 0.2), -20px 20px 20px 20px rgb(0 0 0 / 50%),
    20px 20px 20px 20px rgb(0 0 0 / 50%);
}

.icon {
  height: 25px;
  width: 25px;
}

#bottomNav img {
  height: 100%;
  width: 100%;
}

#bottomNav :nth-child(3) {
  width: 35px;
}

#bottomNav :nth-child(3) img {
  border-radius: 10px 5px;
}

#bottomNav :nth-child(2) img,
#bottomNav :nth-child(4) img,
#bottomNav :nth-child(5) img {
  filter: invert(100%);
}

#u_profile {
  width: 92%;
  height: 32vh;
  border-radius: 16px;
  margin: 0px auto;
  background-color: rgb(32 36 39);
  display: flex;
  flex-direction: column;
}

#profile_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: azure;
}

#details1 {
  display: flex;
  font-size: 8px;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 35%;
}

#details1 :nth-child(2),
#details1 :nth-child(3),
#details1 :nth-child(4) {
  height: 40px;
  width: 60px;
  background-color: #2a2e31;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#details2 {
  height: 16%;
  padding-left: 14px;
}

#name {
  font-size: 0.75rem;
}

#profession {
  font-size: 0.65rem;
  color: rgb(116, 116, 116);
}

#bio {
  font-size: 0.7rem;
  margin-left: 14px;
  margin-top: 8px;
}

#edit_profile {
  width: 92%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2e31;
  border-radius: 12px;
  margin: 0px auto;
}

#body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  z-index: 5;
}

#getStarted {
  bottom: 0px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  box-shadow: 0px -60px 100px 10px rgb(48 48 48);
}

#sName {
  font-size: 28px;
}

#desc {
  font-size: 12px;
  margin-top: 2px;
  color: rgb(116, 116, 116);
}

#getStartedButton {
  height: 32px;
  width: 180px;
  border: none;
  border-radius: 4px;
  background-color: #2563eb;
  color: white;
}

#profileBody {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#sideNav {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 280px;
  height: 100%;
  background-color: rgb(15 17 18);
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

#exit {
  height: 100vh;
  position: absolute;
  width: 40px;
  left: 0px;
  top: 0px;
}

#sideNav .det {
  margin: 30px 20px;
}

#sideNav .det div {
  margin: 0px 0px 20px 0px;
}

/*
post page
*/

a {
  color: white;
  text-decoration: none;
}

#postHead {
  display: flex;
  justify-content: left;
  font-size: 18px;
}

#postDetails {
  height: 12vh;
  width: 92%;
  background-color: rgb(32 36 39);
  border-radius: 8px;
  margin: 10px auto;
}

#img {
  height: 30vh;
  width: 92%;
  background-color: rgb(32 36 39);
  margin: 0px auto;
  border-radius: 8px;
}


#postDesc {
  height: 40vh;
  width: 92%;
  background-color: rgb(32 36 39);
  margin: 0px auto;
  border-radius: 8px;
  margin-top: 10px;
}

/*
sign up page
*/

#sback{
  position: absolute;
  top: 16px;
  left: 10px;
  height: 16px;
  width: 20px;
}

#sback a img{
  height: 100%;
  width: 100%;
  filter: invert(100%);
}

#signupBody{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#point1{
  font-size: 28px;
  text-align: center;
}

#point2{
  margin: 40px;
}

#inputPass{
  display: flex;
}

td{
  padding: 10px 5px;
}

.inp{
  border-bottom: 1px solid rgb(78, 78, 78);
  position: relative;
}

.inp input{
  border: none;
  background-color: rgb(15 17 18);
  padding-left: 10px;
  width: 150px;
  color: white;
}

.placeholder{
  position: absolute;
  bottom: 2px;
  left: 10px;
  color: #585858;
  font-size: 14px;
  transition: 0.3s linear;
}

.inp input:focus{
  outline: none;
}


#showPassword{
  height: 20px;
  width: 20px;
  background-color: rgb(15 17 18);
  margin-bottom: 4px;
  padding: 0px;
  border: none;
}

#showPassword img{
  filter: invert(100%);
  height: 100%;
  width: 100%;
}

#point3{
  font-size: 12px;
  color: #999999;
}

#point3 a{
  color: #2563eb;
  text-decoration: underline;
}

#point4, #goIn{
  height: 32px;
  width: 180px;
  border: none;
  border-radius: 4px;
  background-color: #2563eb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/*
log in page
*/

#page{
  height: 100%;
  width: 100%;
  background-color: #b0b0b0;
  display: flex;
  flex-direction: column;
  justify-content:end ;
}

#lower{
  height: 60%;
  width: 100%;
  background-color: rgb(15 17 18);
  border-radius: 28px 28px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#text{
  font-size: 1.75rem;
  width: 265px;
}

@keyframes sidebar {
  100% {
    transform: translateX(40px);
  }
  75% {
    transform: translateX(110px);
  }
  50% {
    transform: translateX(180px);
  }
  25% {
    transform: translateX(250px);
  }
  12% {
    transform: translateX(285px);
  }
  0% {
    transform: translateX(320px);
  }
}

@keyframes sidebar_rev {
  0% {
    transform: translateX(40px);
  }
  12% {
    transform: translateX(110px);
  }
  25% {
    transform: translateX(180px);
  }
  50% {
    transform: translateX(250px);
  }
  75% {
    transform: translateX(285px);
  }
  100% {
    transform: translateX(320px);
  }
}
